html {
    font-family: Helvetica, sans-serif;
    font-size: 100%; /* Use percentage for base font size */
    line-height: 1.5;
    border: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playwrite PE";
}

h1 {
    font-size: 2.2rem; /* Use rem for font sizes */
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin: 0;
}

img {
    display: inline-block;
    height: auto;
    max-width: 100%; /* Make images responsive */
}

a {
    font-size: 0.875rem; /* Use rem for font sizes */
    line-height: 1.5;
}

ul {
    list-style: none;
}

header {
    text-align: center;
}

main#content {
    width: 90%; /* Use percentage for width */
    max-width: 1000px; /* Set a max-width */
    margin: 1em auto;
}

.products-all {
    display: inline-block;
    width: 48%;
    text-align: center;
}

ul li {
    margin-bottom: 1em;
    display: inline-block;
    width: 37%;
}

.checkout {
    display: inline-block;
    width: 48%;
    text-align: center;
    vertical-align: top;
}

.products-all button,
.checkout button {
    margin: 5%;
    padding: 3%;
}

.payment {
    text-align: center;
}

.payment button {
    margin: 1%;
    padding: 0.5%;
}

@media (max-width: 768px) {
    main#content {
        width: 100%;
    }

    .products-all,
    .checkout {
        width: 100%;
    }

    ul li {
        /* width: 100%; */
    }

    .payment button {
        margin: 1%;
        padding: 3%;
    }
}
