html {
    font-family: Helvetica, sans-serif;
    font-size: 100%;
    /* Use percentage for base font size */
    line-height: 1.5;
    border: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playwrite PE";
}

h1 {
    font-size: 2.0rem;
    /* Use rem for font sizes */
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin: 0;
}

img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

a {
    font-size: 0.875rem;
    /* Use rem for font sizes */
    line-height: 1.5;
}

ul {
    list-style: none;
}

header {
    text-align: center;
}

main#content {
    width: 90%;
    max-width: 1000px;
    margin: 1em auto;
}

.products-all {
    display: inline-block;
    width: 48%;
    text-align: center;
    border: 1px solid #ffc266;
    border-radius: 1em;
    background-color: #ffc266;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.4);
}

.checkout {
    display: inline-block;
    width: 48%;
    text-align: center;
    vertical-align: top;
}

.products-all ul li,
.checkout ul li {
    margin-bottom: 1em;
    display: inline-block;
    width: 37%;
}

.coins-inserted ul li {
    margin-bottom: 1em;
    display: inline-block;
    width: 7%;
}

.products-all button,
.checkout button {
    margin: 5%;
    padding: 3%;
}

.payment {
    text-align: center;
}

.payment button {
    margin: 1%;
    padding: 0.5%;
}

.bought-products {
    margin: 0 0 0 26%;
    padding: 1% 19% 2% 0;
    text-align: right;
    width: 48%;
    border: 1px solid rgb(130, 195, 255);
    border-radius: 1em;
    background-color: rgb(130, 195, 255);
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.4);
}

.coins-nominal {
    margin: 3% 0 0 0;
}

.coins-inserted {
    margin: 3% 0 0 0;
    background: #80808029;
    border-radius: 1em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.4);
}

.coins-returned {
    margin: 3% 0 0 0;
    padding: 2% 0% 2% 0;
    background: #ffffaf;
    border-radius: 1em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
    html{
        font-size: 120%;
    }

    main#content {
        width: 100%;
    }

    .products-all,
    .checkout {
        width: 100%;
    }

    main#content button {
        margin: 1%;
        padding: 3%;
        font-size: 82%;
    }

    div {
        margin: 3% 2%;
    }

    .products-all {
        display: inline-block;
        width: 96%;
        text-align: center;
    }

    .products-all ul li,
    .checkout ul li {
        margin-bottom: 1em;
        width: 45%;
    }

    .bought-products {
        margin: 3% auto;
        width: 86%;
        padding: 0 28% 0 0;
    }

    .coins-inserted ul li {
        width: 12%;
    }

    .coins-returned{
        margin: 8% 2%;
    }
}
